// colors

$bg-light: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
$bg-dark: #252526;

$color-black: #252526;
$color-white: #f4f4f4;
$color-red: #ba2e31;

$box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
